#rdfstore-frontend {
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    color: #4E4E4E;
    font-family: Tahoma, sans-serif;
    background-repeat: repeat;
    position: relative;
    float: left;
    width: 95%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -moz-border-top-left-radius: 10px;
    -moz-border-top-right-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.80);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.80);
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.80);
}

#rdfstore-window-buttons {
    position: absolute;
    right: 1px;
    top: 2px
}

.rdfstore-window-button {
    padding: 12px;
    cursor: pointer
}

.rdfstore-window-button-over {
    color: white;
    font-weight: bold
}

#rdfstore-frontend-overlay {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 1000;
    opacity: 0.3;
    filter:alpha(opacity=30);
    background-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -moz-border-top-left-radius: 10px;
    -moz-border-top-right-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.80);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.80);
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.80);
}

#rdfstore-frontend-results-area {
    background-color: #ececec;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: lightgray;
    border-right-style: solid;
    border-right-width: 4px;
    border-right-color: lightgray;
}

#rdfstore-frontend-query-results {
    width: 100%;
    height: 400px;
    border-collapse: collapse;
    font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
    font-size: 12px;
    text-align: left
}

#rdfstore-frontend-query-results th {
    font-size: 14px;
    font-weight: normal;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.29, rgb(234,234,234)),
        color-stop(0.69, rgb(250,250,250))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(234,234,234) 
        29%,
        rgb(250,250,250) 
        69%);
/*     background-image: url("./images/header_bg.png");
    background-repeat: repeat-x;
*/
    color: #566c98;
    text-shadow: 0px 1px 0px #C8D0E7;
}

#rdfstore-frontend-query-results td {
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis
}

#rdfstore-frontend-query-results td.rdfstore-td-over {
    background-color: #e5fff3;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis
}

.sparql-result-even-row {
    background: none repeat scroll 0 0 #FFFFFF
}

.sparql-result-odd-row {
    background: none repeat scroll 0 0 #E8EDFF
}

#rdfstore-frontend-results-area #sparql-results-table-headers {
    margin-left: 5px;
    width: 100%;
    border-collapse: collapse
}


#rdfstore-frontend-results-area #sparql-results-table-rows {
    width: 100%;
    height: 377px;
    overflow: auto
}

#rdfstore-frontend-results-area #sparql-results-table-rows table {
    table-layout: fixed;
    overflow: hidden;
    width: 100%;
    border-collapse: collapse
}
/*
#rdfstore-frontend-results-area #sparql-results-table-rows td {
    padding: 0px;
    margin: 0px
}
*/
#rdfstore-frontend-results-area #sparql-results-table-headers table {
    table-layout: fixed;
    overflow: hidden;
    width: 100%;
    border-collapse: collapse
}

/*
#rdfstore-frontend-results-area #sparql-results-table-headers th {
    padding-left: 5px
}
*/
#sparql-query-text-send {
    display:block;
    float: right
}

#rdfstore-frontend-query-area {
    background-color: lightgray;
    width: 100%;
    text-align: center;
    -webkit-transition: display 0.5s ease-in-out;
    -moz-transition: display 0.5s ease-in-out;
    -o-transition: display 0.5s ease-in-out;
    -ms-transition: display 0.5s ease-in-out;
    transition: display 0.5s ease-in-out
}

#sparql-query-text {
    font-size: 14px;
    width: 98.7%;
    height: 120px;
    border: 0px;
    margin: 0px;
    padding: 5px;
    padding-top: 5px
}

#rdf-store-menu-load-dialog {
    font-size: 12px
}
#rdf-store-menu-load-dialog span {
    padding-top:3px
}

.rdf-store-dialog input {
    min-width: 350px;
    float: right
}


.rdf-store-menu-action a {
    text-align: center;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 12px;
    text-decoration: none;
    color: black;
    text-shadow: 0px 1px 0px #C8D0E7;
    float: left;
    /*padding: 10px*/
    padding: 30px 0 30px 0;
    overflow: hidden;
    background-repeat: no-repeat;
    height: 0px !important;
    height /**/:30px
}

#rdf-store-menu-load a {
    background-image: url("./images/download_up.png"); 
    width: 30px;
}

#rdf-store-menu-load a:active {
    background-image: url("./images/download_down.png"); 
    width: 30px;
}

#rdf-store-menu-hist-prev a {
    background-image: url("./images/back_up.png"); 
    width: 30px;
}

#rdf-store-menu-hist-prev a:active {
    background-image: url("./images/back_down.png"); 
    width: 30px;
}

#rdf-store-menu-hist-next a {
    background-image: url("./images/next_up.png"); 
    width: 30px;
}

#rdf-store-menu-hist-next a:active {
    background-image: url("./images/next_down.png"); 
    width: 30px;
}

#rdf-store-menu-edit a.rdfstore-editing {
    background-image: url("./images/not_edit.png"); 
    width: 30px;
}

#rdf-store-menu-edit a.rdfstore-not-editing {
    background-image: url("./images/edit.png"); 
    width: 30px;
}

#rdf-store-menu-run a {
    background-image: url("./images/play_up.png"); 
    width: 30px;
}

#rdf-store-menu-select-graph a {
    background-image: url("./images/select_graph.png"); 
    width: 30px;
}

#rdfstore-frontend-graph-area-graphs {
    display:none;
}

#rdfstore-frontend-graphs-area {
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    float: left;
    display: block;
    border-right: 2px solid lightgray;
    width: 0%;
    height: 400px;
    float: left;
    z-index: 0;
    position: absolute;
    background-color: #DFE4EA;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: lightgray;
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: lightgray;
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    -ms-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out

}

#rdfstore-graphs-label {
    display: none;
    padding: 10px;
    color: #7E8891;
    text-shadow: 0px 1px 0px #C8D0E7
}

.rdf-store-selected-graph-item {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.5, rgb(134,149,172)),
        color-stop(1, rgb(173,189,212))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(134,149,172) 50%,
        rgb(173,189,212) 100%
    )
}
.rdf-store-graph-item a {
    width: 100%;
    display: block;
    position: relative;
}

#rdf-store-graphs-list {
    padding: 0px;
    list-style-type: none
}

#rdf-store-graphs-list li {
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px
}

#rdf-store-graphs-list li a {
    text-decoration: none;
    color: black
}

#rdf-store-graphs-list li.rdf-store-selected-graph-item  a {
    color: white;
    text-shadow: 0px 1px 0px #C8D0E7;
    text-decoration: none;
}

#rdfstore-frontend-menu {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.29, rgb(167,167,167)),
        color-stop(0.69, rgb(206,206,206))
    );

    background-image: -moz-linear-gradient(
        center bottom,
        rgb(167,167,167) 29%,
        rgb(206,206,206) 69%
    );
/*    background-image: url("./images/menu_background.png");
    background-repeat: repeat-x;
*/
    height: 70px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -moz-border-top-left-radius: 10px;
    -moz-border-top-right-radius: 10px
}

#rdfstore-frontend-footer {
    border-style: solid;
    border-width: 1px;    
    border-color: gray;
    margin-left: -1px;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.47, rgb(199,199,199)),
        color-stop(0.69, rgb(206,206,206))
    );

    background-image: -moz-linear-gradient(
        center bottom,
        rgb(199,199,199) 47%,
        rgb(206,206,206) 69%
    );
    height: 20px;
    float: left;
    width: 100%
}

.rdfstore-footer-info {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 3px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 10px;
    text-shadow: 0px 1px 0px #C8D0E7;
    height: 14px;
    width: 15%;
    text-align: center;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: gray;
}

#rdfstore-frontend-footer-prev-page {
    float: right;
    width: 5%;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: gray;
    cursor: pointer

}

#rdfstore-frontend-footer-prev-page span {
    display: block;
    width: 20px;
    margin: auto;
    padding-bottom: 10px;
    margin-top: -1px;
    background-image: url("./images/prev_page.png"); 
    background-repeat: no-repeat
}

#rdfstore-frontend-footer-prev-page span.rdfstore-prev-image-mousedown {
    background-image: url("./images/prev_page_down.png"); 
}

#rdfstore-frontend-footer-next-page {
    float: right;
    width: 5%;
    cursor: pointer

}

#rdfstore-frontend-footer-next-page span {
    display: block;
    width: 20px;
    margin: auto;
    padding-bottom: 10px;
    margin-top: -2px;
    background-image: url("./images/next_page.png"); 
    background-repeat: no-repeat
}

#rdfstore-frontend-footer-next-page span.rdfstore-next-image-mousedown {
    background-image: url("./images/next_page_down.png"); 
}

#rdfstore-frontend-footer-display-pages {
    float: right;
}

/* load dialog */

.rdf-store-dialog {
    font-family: Tahoma, sans-serif;
    background-image: -webkit-gradient( linear,
                                        left bottom,
                                        left top,
                                        color-stop(0.36, rgb(50,50,50)),
                                        color-stop(0.79, rgb(110,110,110))
                                      );

    background-image: -moz-linear-gradient(center bottom,
                                           rgb(50,50,50) 36%,
                                           rgb(110,110,110) 79%
                                          );
    background-color: #2B2B2B;
    color: #B8B8B8;
    min-width: 500px;
    width: 500px;
    min-height: 300px;
    height: 300px;
    position: absolute;

    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.80);
    -moz-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.80);
    -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.80);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    z-index: 2000
}

.rdfstore-dialog-title {
    color: white;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    padding-top:10px;
    text-align: center;
    width: 105%;
    margin-left: -20px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default    
}

.rdfstore-dialog-title p {
    display: inline;
    max-width: 80%;
    text-overflow: ellipsis
}

.rdfstore-dialog-row {
    padding: 10px;
    height: 20px
}

.rdfstore-dialog-actions {
    width: 100%;
    height: 30px;
    text-align: center;
    padding: 20px;
    margin-left: -20px
}

.rdf-store-dialog .rdfstore-dialog-actions input {
    float: none;
    min-width: 100px;
}

/* show URI dialog */

#rdfstore-show-uri-row-options {
    margin-top: 30px;
    margin-left: 130px;
    height: 110px
}

#rdf-store-show-uri-value {
    width: 425px
}

.rdfstore-options-row {
    text-align: center;
    width: 100%;
    height: 60px
}

.rdfstore-options-row-item {
    cursor: pointer;
    height: 60px;
    width: 60px;
    padding-top: 60px;
    margin-left: 30px;
    margin-right: 30px;
    float: left
}

#rdf-store-dialog-browse-store {
    background-image: url("./images/download.png"); 
    background-repeat: no-repeat
}

#rdf-store-dialog-browse-uri {
    background-image: url("./images/window.png"); 
    background-repeat: no-repeat
}

.rdf-store-dialog textarea {
    min-width: 350px;
    height: 180px;
    float: right;
    
}


#rdfstore-dialog-actions-show-literal {
    margin-top: 170px
}
